/** Default dark theme stub */

$blueDark = #303E4D
$blueRegular = #578FCC
$blueLight = #81A5D4
$orange = #EBA36F
$greenLight = #97A346
$greenDark = #808942
$greenBright = #65c178


$lightGrey = #D5D8DE
$normalGrey = #BCC9CE
$darkGrey = #8E949F
$lightColor = #F7FAFC

$red = #B2150A

$categoriesTopColor = rgb(36, 50, 64)
// $categoriesTopColor = rgb(36, 50, 64)
$categoriesTopColor = darken($blueDark, 3)
$categoriesBottomColor = rgb(49, 68, 87)
$categoriesBottomColor = lighten($blueDark, 1)

body.default-blue
  background-color #F7FAFC
  color darken($blueDark, 25)

  a
    color $blueRegular

  :focus
    outline dotted 1px $blueLight


  button,input[type=submit],input[type=reset]
    background-color $blueRegular
    border solid 1px $blueRegular
    color white
    box-shadow 1px 1px 1px -1px rgba(255,255,255,0.2) inset

  button:active,
  input[type=submit]:active,
  input[type=reset]:active

    box-shadow 1px 1px 1px -1px rgba(0,0,0,0.2) inset

  button[disabled],input[type=submit][disabled],input[type=reset][disabled]
    background-color desaturate($blueRegular, 20)

  a.button
    color white
    
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=tel],
  input[type=number],
  textarea
    border solid 1px $blueRegular

  .header
    background-color lighten($blueDark, 5)

  .online
    color $greenBright
    font-size 0.6em
    vertical-align: middle;

  .color-secure
    color $greenLight

  .text-danger
    color $red

  .categories
    vertical-gradient(darken($blueDark, 5), darken($blueDark, 1))
    .total-online
      color alpha($greenDark, 50%)
      a
        color alpha($greenDark, 50%)
        text-decoration-color alpha($greenDark, 10%)
    .menu
      .button
        color white

  .view-panel
    background-color lighten($blueDark, 73)
    blockquote
      background-color lighten(complement($blueDark), 73)

  .topics-panel
    background-color lighten($blueDark, 70)
    vertical-gradient($categoriesTopColor, $categoriesBottomColor)
    > .search-box
      border-bottom solid 1px rgba(255,255,255,0.025)
      box-shadow: 0 3px 5px -5px #000000;
      input.search
        background-color transparent
        border none
        color $darkGrey
      a
        color darken($darkGrey, 50%)

      a+input.search:focus
        color $lightGrey
    > .topics
      border-left solid 1px rgba(255,255,255,0.025)

    > .topics-switch
      height calc(3em + 1vh)
      background-color lighten($blueDark, 5)
      border-left solid 1px rgba(255,255,255,0.025)
      color $darkGrey
      box-shadow 0 0 5px -2px #000000

    .topic
      border-bottom solid 1px rgba(255,255,255,0.025)
      border-left solid 1px rgba(255,255,255,0)
      &.active
        background-color lighten($blueDark, 25)
        border-left solid 1px rgba(255,255,255,0.25)
        position relative
        a
          color white
          small
            color darken($blueDark, 10)
            &.tag
              color lighten($blueDark, 50)
      a
        color lighten($blueDark, 50)

