@import "variables.styl"

div.call
  padding-left 1vw
  padding-right 1vw
  padding-top 0.5vh
  padding-bottom 0.5vh
  color white
  background-color lighten( desaturate($blueDark, 50%), 80%)

  &.active
    background-color lighten($greenBright, 10%)

  .button.callin
    background-color $greenBright

  .button.hangup
    background-color $orange

  .intro
    align-self center

  .controls
    align-self flex-end

  video
    max-width $topicPanelWidth*0.5


lr-rtc
  display block
