@import "variables.styl"


lr-editor

  border-radius 3px
  display block
  border solid 1px $normalGrey
  background-color white
  margin 0.5vh 0.5vw
  width 99%

  div.toolbar
    border-bottom solid 1px $normalGrey
    background-color rgba(0,0,0,0.05)
    border-radius: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    a.format
      padding 0.8vh
      display inline-block
      cursor pointer
      margin 0.1vh
      /* box-shadow: 0.1vh 0.1vh 0.2vh -0.1vh white inset; */
      border-radius: 0.2vh;

      &.active
        background-color alpha($normalGrey, 50% )
        box-shadow: 0.1vh 0.1vh 0.2vh -0.1vh $normalGrey inset;

    .fa
      color $blueDark

  div.editor
    display block
    min-height 1em
    padding 1vh 1vw
    color $blueDark
    border-radius 3px
    overflow auto

    img
      max-width 90%
      max-height 50vh
      height auto
      width auto


.compose
  lr-editor
    border-radius 3px
    display block
    border solid 0px $normalGrey
    background-color white
    margin 0
    width 99%

    div.toolbar
      margin 0
      padding 0
      line-height: calc(3em - 0.5vh);
      height 0
      overflow hidden
      background-color white
      border-bottom solid 0px $normalGrey

      .uploadEditorButton
        position relative

      a.format
        padding 0.1vh 0.25vw
        margin 0 0
        color $normalGrey
        background-color white
        .fa
          color $darkGrey
        &.active
          color $blueRegular
          box-shadow none
          .fa
            color $blueRegular
        &:hover
          color $blueRegular
          .fa
            color $blueRegular

      :first-child
        margin-left 0
        padding-left 0

    div.editor
      outline none
      margin-top calc(0.691em + 0.5vh - 1px)
      min-height 2em
      max-height calc(60vh)
      line-height 1.618
      padding 0

      &.ng-untouched.ng-empty.ng-dirty::after
        content attr(placeholder) " "
        color $lightGrey

.compose.open
  lr-editor
    div.toolbar
      height  calc(3em - 0.5vh)
      border-bottom solid 1px alpha($normalGrey, 50%)
    div.editor
      max-height calc(60vh - 3.5em)
      margin-top 0.05em
