@import "variables.styl"

growl-notifications 
  position fixed
  top 150px
  right 10px
  z-index 1000

  growl-notification
    background-color $blueDark
    color white
    padding 5px 10px
    width 250px
    display block
    border-radius 5px
    margin-top 15px

    div
      padding 5px

    .growl-notifications-close
      color $lightGrey
