

responsive-visibility()
  display block !important

  table&
    display table !important

  tr&
    display table-row !important

  th&,
  td&
    display table-cell !important

responsive-invisibility()
  display none !important

vertical-gradient(topColor, bottomColor)
  background topColor
  background -webkit-linear-gradient(topColor, bottomColor)
  background -o-linear-gradient(topColor, bottomColor)
  background -moz-linear-gradient(topColor, bottomColor)
  background linear-gradient(topColor, bottomColor)
