@import "variables.styl"

.settings

  input[type="text"]
    &.ng-invalid
      border solid 1px red

  input.ng-valid
      border solid 1px $greenDark


  form
    i.fa-times
      color red

    i.fa-check
      color $greenDark
